<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron" style="background: transparent; padding: 2rem 0; margin-bottom: 0;">
    <h1>Bem-vindo ao <b>Time to Answer!</b></h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr />
    <%= form_with(url: site_search_path, local: true, method: :get, class: "form-inline") do |form| %>
      <%= form.text_field :term, placeholder: "Digite aqui...", class: "form-control mr-sm-2", style: "width: 350px" %>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Pesquisar</button>
    <% end %>
    <br />
    <h4><%= msg_jumbotron %></h4>
  </div>

  <% @questions.each do |question| %>
    <%= form_with url: site_answer_path do |form| %>
      <div class="card mb-4" id="<%= "submit_#{question.id}" %>">
        <div class="card-header">
          <h5 class="card-title">
            <span class="badge badge-info">
              <%= link_to question.subject.description, site_search_subject_path(question.subject_id, question.subject.description), style: 'color: #FFF' %>
            </span>
            <%= question.description %>
          </h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% question.answers.each do |answer| %>
              <li class="list-group-item">
                <div class="radio">
                  <label style="cursor: pointer;">
                    <%= radio_button_tag 'answer_id', answer.id, style: "cursor: pointer;" %>
                    <%= answer.description %>
                  </label>
                </div>
              </li>
            <% end %>
            <li class="list-group-item">
              <br />
              <%= form.submit "Responder", class: "btn btn-primary", style: "width: 150px;" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= paginate @questions %>
</div> <!-- /container -->
