<div>
  <div class="login_wrapper" style="margin: 0 auto;">
    <div class="animate form login_form" style="height: 100vh; display: flex; align-items: center;">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <h2>Change your password</h2>

          <div>
            <%= f.password_field :password, placeholder: "Senha", class: "form-control" %>
          </div>

          <div>
            <%= f.password_field :password_confirmation, placeholder: "Confirmação de senha", class: "form-control" %>
          </div>

          <div>
            <%= f.submit "Alterar senha", class: "btn btn-primary submit w-100 m-0" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>Time to answer!</h1>
              <p>©2021 All Rights Reserved. Time to answer! Made by Lucas Macedo. Privacy and Terms</p>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>

