<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Time to answer</title>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand mr-5" do %>
          <b>Time to Answer</b>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <%= form_with(url: site_search_path, local: true, method: :get, class: "form-inline") do |form| %>
            <%= form.text_field :term, placeholder: "Digite aqui...", class: "form-control mr-sm-2", style: "width: 350px" %>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
          <% end %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <% unless user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Entrar', new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Cadastrar-se', new_user_registration_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to users_backoffice_welcome_index_path, class:"dropdown-item" do %>
                    <i class="fa fa-user fa-fw"></i> Perfil
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                    <i class="fa fa-sign-out fa-fw"></i> Logout
                  <% end %>
                </div>
              </li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="background: transparent;">
        <h1>Bem-vindo ao <b>Time to Answer!</b></h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr />
      </div>

      <%= yield %>
    </div> <!-- /container -->


    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>

    <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= notice %>', {
        type: 'success', // (null, 'info', 'danger', 'success')
        align: 'right', // ('left', 'right', or 'center')
        allow_dismiss: true, // If true then will display a cross to close the popup.
        stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      <% end %>
    <% end %>
  </body>
</html>